---
layout: default
section: download

title: Release Signing Keys
description: Keys used for MyBB release packages verification.
meta_description: Keys used for MyBB release packages verification.

redirect_from:
- /keys/
---

<section class="block">
	<p><a href="{{ site.baseurl }}/download/keys/protocol">Open the Release Signing Protocol &rarr;</a></p>
</section>

<section class="block block--basic">
	<h1>Current Release Signing Keys</h1>
	<p>Active keys belonging to MyBB Team members that can be used for signing MyBB release packages.</p>
	<table class="simple-table" summary="Current Release Signing Keys">
		<thead>
			<tr>
				<th>Username</th>
				<th>Key and fingerprint</th>
				<th>Date added</th>
			</tr>
		</thead>
		<tbody>
			{% assign active_keys = site.keys | where: "status", "active" | sort: 'add_date' | reverse %}
			{% if active_keys == empty %}
				<tr>
					<td colspan="4" style="text-align: center;">No active signing keys registered.</td>
				</tr>
			{% else %}
				{% for key in active_keys %}
					<tr>
				  		<td>{{ key.username }}</td>
				  		<td><a href="{{ site.baseurl }}/download/keys/{{ key.fingerprint | replace: ' ', '' }}"><span class="hextet">{{ key.fingerprint | replace: ' ', '</span><span class="hextet">' }}</span></a></td>
						<td>{{ key.add_date | date_to_string }}</td>
			  		</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</section>

<section class="block block--basic">
	<h1>Removed Release Signing Keys</h1>
	<p>Removed signing keys that were used to sign past releases. These keys are not used for signing releases past the removal date.</p>
	<table class="simple-table" summary="Removed Release Signing Keys">
		<thead>
			<tr>
				<th>Username</th>
				<th>Key and fingerprint</th>
				<th>Date added</th>
				<th>Date removed</th>
			</tr>
		</thead>
		<tbody>
			{% assign removed_keys = site.keys | where: "status", "removed" | sort: 'remove_date' | reverse %}
			{% if removed_keys == empty %}
				<tr>
					<td colspan="4" style="text-align: center;">No removed signing keys registered.</td>
				</tr>
			{% else %}
				{% for key in removed_keys %}
					<tr>
				  		<td>{{ key.username }}</td>
				  		<td><a href="{{ site.baseurl }}/download/keys/{{ key.fingerprint | replace: ' ', '' }}"><span class="hextet">{{ key.fingerprint | replace: ' ', '</span><span class="hextet">' }}</span></a></td>
						<td>{{ key.add_date | date_to_string }}</td>
						<td>{{ key.remove_date | date_to_string }}</td>
			  		</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</section>
