---
layout: default
section: home

title: Contact
description: Project-related discussions usually take place on the <a href="https://community.mybb.com">MyBB Community Forums</a>. Head there for support, suggestions, questions, website issues, and more.
---

<aside class="page-sidebar">
	{% include section_nav.html section='about' %}
</aside>

<div class="page-content page-content--sidebar">
	<div class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='hands-helping' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h3 class="block__heading__title">MyBB Support</h3>
			</header>
			<p>Having trouble with your MyBB forum? See <a href="{{ site.baseurl }}/support/"><strong>Support</strong></a>.</p>
		</div>
	</div>

	<div class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='star-half-alt' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h3 class="block__heading__title">MyBB Suggestions and Feedback</h3>
			</header>
			<p>Provide feedback and suggest improvements for the MyBB forum software through the appropriate Suggestions and Feedback forum within the <a href="https://community.mybb.com/forum-161.html"><strong>Development discussion forums</strong></a>.
		</div>
	</div>

	<div class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='shield-alt' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h3 class="block__heading__title">MyBB Security Issues</h3>
			</header>
			<p>If you've found a potential security vulnerability in MyBB, please report the issue within the <a href="https://community.mybb.com/forum-135.html"><strong>Private Inquiries</strong></a> forum.</p>

			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/security/">More information on Security Research &rarr;</a></p>
		</div>
	</div>

	<div class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='exclamation-triangle' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h3 class="block__heading__title">Report Abuse</h3>
			</header>
			<p>Visit the <a href="{{ site.baseurl }}/contact/abuse/"><strong>Report Abuse</strong></a> page to learn how to report cases of potential abuse of our platforms.</p>
		</div>
	</div>

	<div class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='globe' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h3 class="block__heading__title">Get in touch regarding the MyBB Project</h3>
			</header>
			<p>All issues and feedback relating to the MyBB website and the community forums can be posted in the <a href="https://community.mybb.com/forum-19.html"><strong>MyBB.com Community and Site Issues</strong></a> forum.</p>
			<p>If you have an issue relating to your account on the Community Forums or other personal matters, please post in the <a href="https://community.mybb.com/forum-135.html">Private Inquiries</a> forum.</p>
			<p>Alternatively, administrators can be reached via e-mail: <code>contact@mybb.com</code>.</p>
		</div>
	</div>
</div>
