---
layout: default
section: home

title: Contact
description: The MyBB Group can be contacted through the <a href="https://community.mybb.com">MyBB Community Forums</a>. Head there for support, suggestions, questions, website issues, and more.
meta_description: Contact the MyBB Group through the Community Forums for support, suggestions, questions, etc.

redirect_from:
- /contact/piracy/
---
<aside id="sidebar">
	<section>
	<h1>All About MyBB</h1>
		{% include section_nav.html section='about' %}
	</section>
	<section class="alt">
		<h1>Connect with MyBB</h1>
		{% include social_buttons.html %}
	</section>
</aside>

<div id="contentBlock">
	<section class="general">
		<h1>Get in touch regarding the MyBB forum software</h1>

		<h2>MyBB Support</h2>
		<p>Having trouble with your MyBB forum? See <a href="{{ site.url }}/support/">Support</a>.</p>

		<h2>MyBB Suggestions and Feedback</h2>
		<p>Provide feedback and suggest improvements for the MyBB forum software through the appropriate Suggestions and Feedback forum within the <a href="https://community.mybb.com/forum-161.html">Development discussion forums</a>.

		<h2>MyBB Security Issues</h2>
		<p><strong>If you've found a potential security vulnerability in MyBB</strong>, please report the issue within the <a href="https://community.mybb.com/forum-135.html">Private Inquiries</a> forum. <a href="{{ site.url }}/get-involved/security/">More information on security research &rarr;</a></p>
	</section>

	<section class="general">
		<h1>Get in touch regarding MyBB.com</h1>
		<p>All issues and feedback relating to the MyBB website and the community forums can be posted in the <a href="https://community.mybb.com/forum-19.html">MyBB.com Community and Site Issues</a> forum.</p>
		<p>If you have an issue relating to your account on the Community Forums or other personal matters, please post in the <a href="https://community.mybb.com/forum-135.html">Private Inquiries</a> forum.</p>
	</section>
</div>
