<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		{% if page.url == "/" %}
		{{ page.title }}
		{% else %}
		{{ page.title }} - {{ site.name }}
		{% endif %}
	</title>
	<meta name="viewport" content="width=device-width" />
	<meta name="author" content="MyBB Group" />
	<meta name="description" content="{{ page.meta_description }}" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/anythingslider.css" />
	<script src="{{ site.baseurl }}/assets/js/libs/modernizr-2.0.6.min.js"></script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-11443733-2']);
	  _gaq.push(['_setDomainName', 'none']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	  	if (location.hostname == 'www.mybb.com')
	  	{
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	}
	  })();
	</script>
</head>
<body>
	<div id="container">
		<div id="disclaimer">
			<div class="wrapper">
				<h1>Attention:</h1>
				<p>This is a <strong>future update</strong> to the MyBB website. This version is still in development&mdash;you may find inaccurate information or broken links. <strong>If you are looking for MyBB's current and up-to-date official website, please head to <a href="http://www.mybb.com">MyBB.com</a>.</strong></p>
			</div>
		</div>
	    <header id="pageHeader">
	    	<div class="wrapper">
				<nav id="logoLink">
					<a href="{{ site.baseurl }}/">Go to MyBB homepage</a>
				</nav>
				<h1 id="pageName" class="visuallyHidden">MyBB - Free and Open Source Forum Software</h1>

				<div id="siteSearch">
					<form method="get" action="http://www.google.com/search">
						<span class="searchContainer">
							<input type="hidden" name="as_sitesearch" id="as_sitesearch" value="mybb.com">
							<label for="qWidget">
								<input name="q" id="qWidget" type="search" class="searchField inputText" placeholder="Search" />
							</label>
							<input id="submit" type="submit" value="Find" class="searchSubmit inputSubmit" />
						</span>
					</form>
				</div>

				<nav id="mainMenu">
					<ul>
						<li{% if page.section == "home" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
						<li{% if page.section == "features" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/features">Features</a></li>
						<li{% if page.section == "download" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/download">Download</a></li>
						<li><a href="http://community.mybb.com" title="Community">Community</a></li>
						<li{% if page.section == "get-involved" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/get-involved" title="Get Involved">Get Involved</a></li>
						<li><a href="http://community.mybb.com/mods.php" title="Extend">Extend</a></li>
						<li><a href="http://docs.mybb.com" title="Docs">Docs</a></li>
						<li><a href="http://blog.mybb.com" title="Blog">Blog</a></li>
					</ul>
				</nav>
			</div>
	    </header>
	    <div id="main" role="main">