<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		{% if page.url == "/" %}
		{{ page.title }}
		{% else %}
		{{ page.title }} - {{ site.name }}
		{% endif %}
	</title>
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="MyBB Group">
	<meta name="copyright" content="Copyright {{ site.time | date: '%Y' }} MyBB Group">
	<meta name="description" content="The official homepage for MyBB, a free and open source PHP and MySQL forum software system." />
	<meta name="keywords" content="mybb,mybboard,mybulletinboard,php,mysql,forum,discussion,bbs,bulletin,board,free,software,community,chat" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/anythingslider.css">
	<script src="{{ site.baseurl }}/assets/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<div id="disclaimer">
		<div class="wrapper">
			<h1>Attention:</h1>
			<p>This is a <strong>future update</strong> to the MyBB website. This version is still in development&mdash;you may find inaccurate information or broken links. <strong>If you are looking for MyBB's current and up-to-date official website, please head to <a href="http://mybb.com">MyBB.com</a>.</strong></p>
		</div>
	</div>
	<div id="container">
	    <header id="pageHeader">
	    	<div class="wrapper">
				<nav id="logoLink">
					<a href="{{ site.baseurl }}/">Go to MyBB homepage</a>
				</nav>
				<h1 id="pageName" class="visuallyHidden">MyBB - Free and Open Source Forum Software</h1>
				
				<div id="siteSearch">
					<form method="get" action="http://www.google.com/search">
						<label class="searchContainer" for="qWidget">
							<input type="hidden" name="as_sitesearch" id="as_sitesearch" value="mybb.com">
							<input name="q" id="qWidget" type="search" class="searchField inputText" placeholder="Search" />
							<input id="submit" type="submit" value="Find" class="searchSubmit inputSubmit" />
						</label>
					</form>
				</div>

				<nav id="mainMenu">
					<ul>
						<li{% if page.section == "home" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
						<li{% if page.section == "features" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/features">Features</a></li>
						<li{% if page.section == "download" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/download">Download</a></li>
						<li><a href="http://community.mybb.com" title="Community">Community</a></li>
						<li{% if page.section == "get-involved" %} class="selected"{% endif %}><a href="{{ site.baseurl }}/get-involved" title="Get Involved">Get Involved</a></li>
						<li><a href="http://mods.mybb.com" title="Extend">Extend</a></li>
						<li><a href="http://docs.mybb.com" title="Docs">Docs</a></li>
						<li><a href="http://blog.mybb.com" title="Blog">Blog</a></li>
					</ul>
				</nav>
			</div>
	    </header>
	    <div id="main" role="main">