<div class="github"><iframe height="20" src="{{ site.url }}/github-btn.html?user=mybb&amp;repo=mybb&amp;type=watch&amp;count=true" width="100" style="border: none;"></iframe></div>
<div class="twitter"><a href="https://twitter.com/MyBB" class="twitter-follow-button" data-dnt="true" data-show-count="true">Follow <span class="visuallyHidden">@MyBB</span></a></div>
<div class="twitter"><a href="https://twitter.com/MyBBSecurity" class="twitter-follow-button" data-dnt="true" data-show-count="true">Follow <span class="visuallyHidden">@MyBBSecurity</span></a></div>
<div class="facebook"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2FMyBBoard&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;colorscheme=light&amp;action=like&amp;height=21" style="border:none; overflow:hidden; width:90px; height:21px;"></iframe></div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
