<div class="facebook"><iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2FMyBBoard&width=76&height=65&layout=button&size=large&show_faces=true&appId" width="76" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
<div class="twitter"><a href="https://twitter.com/MyBB" class="twitter-follow-button" data-dnt="true" data-show-count="false" data-show-screen-name="false" data-size="large">Follow @MyBB</a></div>
<div class="twitter"><a href="https://twitter.com/MyBBSecurity" class="twitter-follow-button" data-dnt="true" data-show-count="false" data-size="large">Follow @MyBBSecurity</a></div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
