{% assign member = include.member %}
<div class="team-cards__card card" id="member-{{ member.username | replace: ' ', '-' }}">
	<a href="#member-{{ member.username | replace: ' ', '-' }}" class="team-cards__card__anchor">
		<h3 class="card__username {% if member.name %}card__username--has-name{% endif %}">{{ member.username }}</h3>
	</a>
	{% if member.name %}
		<p class="card__name">{{ member.name }}</p>
	{% endif %}
	<div class="card__roles">
	{% for member_role_membership_type in member.role_memberships %}
		{% for member_role_name in member_role_membership_type[1] %}
			{% for data_role in site.data.roles %}
				{% if member_role_name == data_role.name %}
					{% assign role = data_role %}
					{% break %}
				{% endif %}
			{% endfor %}
			{% assign role_name_normalized = role.name | replace: ' ', '-' | downcase %}
			<a href="#role-{{ role_name_normalized }}" class="team-cards__card__anchor">
				<p class="team-role{% if member_role_membership_type[0] == 'lead' %} team-role--lead{% endif %} team-role--{{ role_name_normalized }}" data-role-color="{{ role.color }}">{{ role.name }}</p>
			</a>
		{% endfor %}
	{% endfor %}
	</div>
	<p class="card__detail card__detail--profile">
		<a href="https://community.mybb.com/user-{{ member.uid }}.html" class="card__detail__link" title="Profile - {{ member.username }}">
			{% include icon.html icon='user-circle' %}
			<span class="card__detail__title">Profile</span>
		</a>
	</p>
	{% if member.website %}
	<p class="card__detail card__detail--website">
		<a href="{{ member.website }}" class="card__detail__link" title="Website - {{ member.website || remove: "https://" | remove: "http://" }}">
			{% include icon.html icon='globe' %}
			<span class="card__detail__title">Website</span>
		</a>
	</p>
	{% endif %}
	{% if member.github %}
	<p class="card__detail card__detail--github">
		<a href="https://github.com/{{ member.github }}" class="card__detail__link" title="GitHub - {{ member.github }}">
			{% include icon.html icon='github' %}
			<span class="card__detail__title">GitHub</span>
		</a>
	</p>
	{% endif %}
	{% if member.twitter %}
	<p class="card__detail card__detail--twitter">
		<a href="https://twitter.com/{{ member.twitter }}" class="card__detail__link" title="Twitter - @{{ member.twitter }}">
			{% include icon.html icon='twitter' %}
			<span class="card__detail__title">Twitter</span>
		</a>
	</p>
	{% endif %}
	{% if member.keybase %}
	<p class="card__detail card__detail--keybase">
		<a href="https://keybase.io/{{ member.keybase }}" class="card__detail__link" title="keybase.io/{{ member.keybase }}">
			{% include icon.html icon='user-secret' %}
			<span class="card__detail__title">Keybase.io</span>
		</a>
	</p>
	{% endif %}
	{% if member.pgp_fingerprint and member.pgp_link %}
	<p class="card__detail card__detail--pgp">
		<a href="{{ member.pgp_link }}" class="card__detail__link" data-powertip="PGP Fingerprint - &lt;span class=&quot;pgp_key&quot;&gt;{{ member.pgp_fingerprint | replace: ' ', '&lt;/span&gt;&lt;span class=&quot;pgp_key&quot;&gt;' }}&lt;/span&gt;">
			{% include icon.html icon='key' %}
			<span class="card__detail__title">PGP</span>
		</a>
	</p>
	{% endif %}
</div>
