	{% assign sorted_team_data = include.team_data | sort:"name" %}
	{% for member in sorted_team_data %}
	<div class="team-cards__card card">
		<h3 class="card__name">{{ member.name }}</h3>
		<p class="card__role card__role--{{ include.team_name | replace: ' ', '-' | downcase }}">
			<span class="card__role__container">
				{% if include.team_name == "Management" %}
				<i class="fa fa-briefcase"></i>
				{% elsif include.team_name == "Support" %}
				<i class="fa fa-question-circle"></i>
				{% elsif include.team_name == "Development" %}
				<i class="fa fa-cogs"></i>
				{% elsif include.team_name == "Quality Assurance" %}
				<i class="fa fa-flask"></i>
				{% elsif include.team_name == "Community" %}
				<i class="fa fa-group"></i>
				{% endif %}
				{{ include.team_name }} {% if member.lead == true %}Lead{% endif %}
			</span>
		</p>
		<p class="card__detail card__detail--profile">
			<a href="https://community.mybb.com/user-{{ member.uid }}.html" class="card__detail__link" title="Profile - {{ member.username }}">
				<i class="fa fa-fw fa-user"></i>
				<span class="card__detail__title">Profile</span>
			</a>
		</p>
		{% if member.website %}
		<p class="card__detail card__detail--website">
			<a href="{{ member.website }}" class="card__detail__link" title="Website - {{ member.website || remove: "https://" | remove: "http://" }}">
				<i class="fa fa-fw fa-globe"></i>
				<span class="card__detail__title">Website</span>
			</a>
		</p>
		{% endif %}
		{% if member.github %}
		<p class="card__detail card__detail--github">
			<a href="https://github.com/{{ member.github }}" class="card__detail__link" title="GitHub - {{ member.github }}">
				<i class="fa fa-fw fa-github"></i>
				<span class="card__detail__title">GitHub</span>
			</a>
		</p>
		{% endif %}
		{% if member.twitter %}
		<p class="card__detail card__detail--twitter">
			<a href="https://twitter.com/{{ member.twitter }}" class="card__detail__link" title="Twitter - @{{ member.twitter }}">
				<i class="fa fa-fw fa-twitter"></i>
				<span class="card__detail__title">Twitter</span>
			</a>
		</p>
		{% endif %}
		{% if member.keybase %}
		<p class="card__detail card__detail--keybase">
			<a href="https://keybase.io/{{ member.keybase }}" class="card__detail__link" title="keybase.io/{{ member.keybase }}">
				<i class="fa fa-fw fa-user-secret"></i>
				<span class="card__detail__title">Keybase.io</span>
			</a>
		</p>
		{% endif %}
		{% if member.pgp %}
		<p class="card__detail card__detail--pgp">
			<button class="card__detail__link copy-text" title="PGP Key - {{ member.pgp }}" data-clipboard-action="copy" data-clipboard-text="{{ member.pgp }}">
				<i class="fa fa-fw fa-key"></i>
				<span class="card__detail__title">PGP Key</span>
			</button>
		</p>
		{% endif %}
	</div>
	{% endfor %}
