<table class="standard_table">
	<thead>
		<tr>
			<th style="width: 33%">
				Name</th>
			<th style="width: 33%">
				Forum Profile</th>
			<th style="width: 33%">
				Personal Website</th>
		</tr>
	</thead>
	<tbody>
		{% assign sorted_team_data = include.team_data | sort:"name" %}
		{% for member in sorted_team_data %}
		<tr>
			<th class="row">{{ member.name }}</th>
			<td><a href="http://community.mybb.com/user-{{ member.uid }}.html">{{ member.username }}</a></td>
			<td>{% if member.website == "" %}
				&ndash;
				{% else %}
				<a href="{{ member.website }}">{{ member.website }}</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>