{% capture _blackhole %}
    {% if version.resolved_security_issues_number %}
        {% assign resolved_security_issues_number = version.resolved_security_issues_number %}
    {% else %}
        {% assign resolved_security_issues_number = version.resolved_security_issues | size %}
    {% endif %}

    {% assign notable_contributions_number = version.notable_contributions | size %}

    {% if version.type_major %}
        {% assign type = 'Major' %}
    {% else %}
        {% assign typesCsv = '' %}

        {% if version.type_feature == true %}
            {% assign typesCsv = typesCsv | append: ' Feature' %}
        {% endif %}
        {% if resolved_security_issues_number != 0 %}
            {% if version.type_security != false or version.type_security == true %}
                {% assign typesCsv = typesCsv | append: ' Security' %}
            {% endif %}
        {% endif %}
        {% if version.resolved_issues_number %}
            {% if version.type_maintenance != false or version.type_maintenance == true %}
                {% assign typesCsv = typesCsv | append: ' Maintenance' %}
            {% endif %}
        {% endif %}

        {% assign type = typesCsv | strip | replace: ' ', ', ' %}
    {% endif %}
{% endcapture %}
MyBB {{ version.version_number }} Released — {{ type | replace: ', ', ' &amp; ' }} Release
----


MyBB {{ version.version_number }} is now available, and is a {{ type | downcase | replace: ', ', ' &amp; ' }} release.<br><br>
{%
if version.comment %}
{{
    version.comment | markdownify
}}<br><br>
{% endif %}{%

if resolved_security_issues_number != 0 or version.resolved_issues_number != 0
%}
<ul>{%
    if resolved_security_issues_number != 0 %}{%
        if resolved_security_issues_number == 1 %}{%
            assign vulnerability_inflexed = 'vulnerability' %}{%
        else %}{%
            assign vulnerability_inflexed = 'vulnerabilities' %}{%
        endif %}
    <li>
        <strong>{{ resolved_security_issues_number }} security {{ vulnerability_inflexed }} addressed{%
        if version.resolved_security_issues %}:{% endif %}</strong>{%
        if version.resolved_security_issues %}<br>
            <ul>{%
                for issue in version.resolved_security_issues %}
                    <li>{{ issue.severity | capitalize }} risk: {{ issue.description }}{%
                    for reference in issue.references %}{%
                        if reference.type == 'advisory'
                            %} (<a href="{{ reference.url }}">advisory</a>){%
                        endif %}{%
                    endfor %}{%

                    assign reported_by = "" %}{%
                    for reporter in issue.reported_by %}{%
                        assign responsible_disclosure_reports = true %}{%
                        assign string = reporter.name | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip_newlines %}{%
                        if reporter.affiliation %}{%
                            assign string = string | append: ' (' | append: reporter.affiliation | append: ')' | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip_newlines %}{%
                        endif %}{%
                        if reported_by != "" %}{%
                            assign reported_by = reported_by | append: ', ' %}{%
                        endif %}{%
                        assign reported_by = reported_by | append: string | strip %}{%
                    endfor %}{%
                    if reported_by != ""
                        %} &mdash; reported by {{ reported_by }}{%
                    endif %}</li>{%
                endfor %}
            </ul>{%
        endif %}
    </li>{%
endif %}{%
if version.resolved_issues_number %}{%
    if version.resolved_issues_number == 1 %}{%
        assign issue_inflexed = 'issue' %}{%
    else %}{%
        assign issue_inflexed = 'issues' %}{%
    endif %}
    <li>{% capture text %}<strong>{{ version.resolved_issues_number }} {{ issue_inflexed }} resolved</strong>{% endcapture %}{%
        if version.resolved_issues_link %}
        <a href="{{ version.resolved_issues_link }}">{{ text }}</a>{%
        else %}
        {{ text }}{%
        endif %}
    </li>{%
    endif %}
</ul>{%
endif %}{%

if notable_contributions_number != 0
%}

<br>
Notable contributions:
<ul>{%
    for issue in version.notable_contributions %}
    <li>{{ issue.description }}{%
        if issue.author.name %} &mdash; by {{ issue.author.name | markdownify | replace: '<p>', '' | replace: '</p>
', '' }}{%
            if issue.author.affiliation %} of {{ issue.author.affiliation | markdownify | replace: '<p>', '' | replace: '</p>
', '' }}{%
            endif %}{%
        endif %}</li>{%
    endfor %}
</ul>{%
endif %}

<br>
Check the <a href="https://mybb.com/versions/{{ version.version_number }}/"><strong>Release Notes</strong></a> for more information.<br><br>

<a href="https://mybb.com/download"><strong>Get latest MyBB Full &amp; Upgrade Packages &rarr;</strong></a>
{%
if responsible_disclosure_reports %}
The MyBB Project extends thanks to reporters and researchers following responsible disclosure.<br>{%
endif %}
Go to <a href="https://mybb.com/get-involved/security/">mybb.com/security</a> to report possible security concerns or to learn more about security research at MyBB.<br>
If you would like to contribute to the Project, <a href="https://mybb.com/get-involved/">Get Involved</a>.<br><br>

Thanks,<br>
MyBB Team
