---
layout: default
section: home

title: Donate
description: Help maintain the MyBB Project by donating money for servers, domains, services and audits.
---

<aside class="page-sidebar">
	{% include section_nav.html section='about' %}
</aside>

<div class="page-content page-content--sidebar">
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Donate to MyBB through Open Collective</h1>
		</header>
		<p>MyBB uses Open Collective to manage donations to cover project-related expenses. You can choose to become a backer or a sponsor to contribute to the project on a monthly basis, or you can make a one time donation. It's up to you!</p>
		<p class="block__action"><a href="https://opencollective.com/mybb" class="button button--medium">{% include icon.html icon='dollar-sign' %}<span class="button__text">Donate to MyBB</span></a></p>
	</section>
	<section class="block">
		<h1>Consider donating to...</h1>
		<p>You can support authors of themes and plugins by using the <i>Donate</i> button on <a href="https://community.mybb.com/mods.php">Extend</a> project pages.</p>
		<p>We also recommend supporting like-minded third party projects listed below.</p>
        <ul>
            <li>
                <h4>GNU Privacy Guard</h4>
                <p>GnuPG is a free implementation of the OpenPGP standard providing encryption and authentication solutions. MyBB uses GnuPG to maintain a secure release process and provide package verification features.</p>
                <p><a href="https://gnupg.org/donate/index.html"><strong>Donate to GnuPG &rarr;</strong></a></p>
            </li>
            <li>
                <h4>Electronic Frontier Foundation</h4>
                <p>The EFF is an international non-profit protecting privacy, innovation and free expression rights. MyBB benefits from their support of open source software and encryption technologies.</p>
                <p><a href="https://supporters.eff.org/donate"><strong>Donate to the EFF &rarr;</strong></a></p>
            </li>
            <li>
                <h4>The OpenBSD Foundation</h4>
                <p>The OpenBSD Foundation is a Canadian not-for-profit corporation which exists to support OpenBSD and related projects such as OpenSSH, OpenBGPD, OpenNTPD, OpenSMTPD and LibreSSL. MyBB and the web rely on the software supported by the foundation and its continued maintenance.</p>
                <p><a href="http://www.openbsdfoundation.org/donations.html"><strong>Donate to OpenBSD &rarr;</strong></a></p>
            </li>
		</ul>
	</section>
</div>
