---
layout: default
section: home

title: MyBB Ecosystem
description: The MyBB project spreads across numerous platforms and services. Here you can learn what they are used for, how to get involved into specific parts of the project's operation and what assets are being maintained by the MyBB Group.
meta_description: Platforms and services used by MyBB.
---

<aside class="page-sidebar">
	{% include section_nav.html section='about' %}
</aside>

<div class="page-content page-content--sidebar">
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Workflow Platforms</h1>
			<p class="block__heading__subtitle">Public platforms where the main activities focus</p>
		</header>
		<div class="simple-table">
			<div class="simple-table__heading">
				{% include logo.html element="a" style="primary" type="icon" url="https://community.mybb.com" %}
			</div>
			<div class="simple-table__content">
				<p>The <strong>Community Forums</strong> provide official support for MyBB software and hosts development discussions and suggestions.</p>
				<p>The <a href="https://community.mybb.com/mods.php">Extend section</a>, containing MyBB plugins, themes and translations is integrated into the MyBB installation.</p>
				<p><a href="https://community.mybb.com"><strong>Visit our Community Forums &rarr;</strong></a></p>
			</div>
		</div>
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://github.com"><img src="{{ site.baseurl }}/assets/images/products/github.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>GitHub</strong> is the primary stage of our development, where the source code of versions both stable and in progress is being stored.</p>
				<p>We use <a href="https://pages.github.com">GitHub Pages</a> to host <i>mybb.com</i> and <i>docs.mybb.com</i>.</p>
				<p>Visit the <a href="https://github.com/mybb" class="platform-link">{% include icon.html icon='github' %} mybb</a> organization page for an overview of our code repositories.</p>
			</div>
		</div>
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://wordpress.com"><img src="{{ site.baseurl }}/assets/images/products/wordpress.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>WordPress.com</strong> hosts the MyBB Blog containing release notes, development information and project-related updates.</p>
				<p><a href="https://blog.mybb.com"><strong>Visit our Blog &rarr;</strong></a></p>
			</div>
		</div>
		<!--
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://trello.com"><img src="{{ site.baseurl }}/assets/images/products/trello.png" /></a>
			</div>
			<div class="simple-table__content">
				<p>We use <strong>Trello</strong> boards to organize our daily tasks within the Team and to maintain up to date lists of issues regarding our project and software. Certain boards are being posted publicly for overview and feedback.</p>
			</div>
		</div>
		-->
	</section>
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Social &amp; Communication Platforms</h1>
			<p class="block__heading__subtitle">Track latest news and engage with our Community</p>
		</header>
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://twitter.com"><img src="{{ site.baseurl }}/assets/images/products/twitter.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>Twitter</strong> allows us to quickly post announcements regarding our project and to communicate with the MyBB Community.</p>
				<p>Follow <a href="https://twitter.com/mybb" class="platform-link">{% include icon.html icon='twitter' %} mybb</a> for general information and announcements.</p>
				<p>Follow <a href="https://twitter.com/mybbsecurity" class="platform-link">{% include icon.html icon='twitter' %} mybbsecurity</a> for security-related news, security release summaries, articles and advisories.</p>
			</div>
		</div>
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://joinmastodon.org"><img src="{{ site.baseurl }}/assets/images/products/mastodon.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>Mastodon</strong> allows us to quickly post announcements regarding our project and to communicate with the MyBB Community.</p>
				<p>Follow <a href="https://fosstodon.org/@mybb" class="platform-link">{% include icon.html icon='mastodon' %} @mybb@fosstodon.org</a> for general information and announcements.</p>
			</div>
		</div>
		<!--
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://facebook.com"><img src="{{ site.baseurl }}/assets/images/products/facebook.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>Facebook</strong> is being used an additional way to reach and interact with our Community.</p>
				<p>Visit <a href="https://www.facebook.com/MyBBoard/" class="platform-link">{% include icon.html icon='facebook-square' %} mybboard</a></p>
			</div>
		</div>
		-->
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://discordapp.com"><img src="{{ site.baseurl }}/assets/images/products/discord.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>Discord</strong> hosts our discussion channels, used by the Team as well as the Community.</p>
				<p><strong><a href="https://discord.gg/rX8VpBr">Join our Discord server &rarr;</a></strong></p>
			</div>
		</div>
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://keybase.io"><img src="{{ site.baseurl }}/assets/images/products/keybase.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>Keybase.io</strong> simplifies the distribution of public keys for encrypted communication. You can find MyBB Team members here through our main account.</p>
				<p><a href="https://keybase.io/mybb"><strong>Track MyBB on Keybase &rarr;</strong></a></p>
			</div>
		</div>
	</section>
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Internal Tools</h1>
			<p class="block__heading__subtitle">Services improving internal processes and flow of information</p>
		</header>
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://apps.google.com"><img src="{{ site.baseurl }}/assets/images/products/googleapps.png" /></a>
			</div>
			<div class="simple-table__content">
				<p>We use <strong>Google Apps</strong> for our <i>@mybb.com</i> mailboxes and file storage.</p>
			</div>
		</div>
		<div class="simple-table">
			<div class="simple-table__heading">
				<a href="https://www.jetbrains.com/phpstorm"><img src="{{ site.baseurl }}/assets/images/products/phpstorm.png" /></a>
			</div>
			<div class="simple-table__content">
				<p>The <strong>PhpStorm</strong> PHP IDE under an open source projects license is being used by Team members to develop our software.</p>
			</div>
		</div>
		<div class="simple-table simple-table--vertical">
			<div class="simple-table__heading">
				<a href="https://1password.com/"><img src="{{ site.baseurl }}/assets/images/products/1password.png" /></a>
			</div>
			<div class="simple-table__content">
				<p><strong>1Password</strong> helps Team members exchange passwords, keys and other secrets related to Project maintenance.</p>
			</div>
		</div>
	</section>
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">MyBB-managed infrastructure</h1>
			<p class="block__heading__subtitle">Assets owned and managed by the MyBB Team</p>
		</header>
		<div class="simple-table">
			<div class="simple-table__heading">
				<p class="simple-table__heading__title">.com</p>
			</div>
			<div class="simple-table__content">
				<p>The <strong>mybb.com</strong> domain, providing access to our websites.</p>
			</div>
		</div>
		<div class="simple-table">
			<div class="simple-table__heading">
				<p class="simple-table__heading__title">Community server</p>
			</div>
			<div class="simple-table__content">
				<p>The <b>Community server</b>, located in the United States, hosting our Community Forums, Mods site and Resource downloads.</p>
			</div>
		</div>
		<div class="simple-table">
			<div class="simple-table__heading">
				<p class="simple-table__heading__title">Proxy server</p>
			</div>
			<div class="simple-table__content">
				<p>The <b>proxy server</b>, located in the United States, used as a relay for e-mail messages and external resources referenced on the Community forums.</p>
			</div>
		</div>
	</section>
</div>
