---
layout: default
section: home
title: About the Team
description: The MyBB team is composed of volunteers committed to developing, supporting, and managing the MyBB forum software project. All members have a <a href="!SITE_BASEURL!/about/team/groups/">team group</a> assigned, which indicates their main focus within the project. All team changes follow the <a href="!SITE_BASEURL!/about/team/personnel-management/">personnel management guide</a>.
meta_description: Take a closer look at the people who make MyBB possible.
---

<aside class="page-sidebar">
	{% include section_nav.html section='about' %}

	<section class="block">
		<h1 class="block__heading">Joining the MyBB Team</h1>
		<div class="block__container">
			<p>Interested in joining the MyBB team? It all starts by getting involved with the community such as through development or support.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/" class="button icon icon--after fa-arrow-right">Get Involved</a></p>
		</div>
	</section>
</aside>

<div class="page-content page-content--sidebar">
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">The MyBB Team</h1>
		</header>
		<div class="team-cards">
			{% include team_cards.html team_name="Management" team_data=site.data.team_management %}
			{% include team_cards.html team_name="Support" team_data=site.data.team_support %}
			{% include team_cards.html team_name="Development" team_data=site.data.team_development %}
			{% include team_cards.html team_name="Quality Assurance" team_data=site.data.team_quality_assurance %}
			{% include team_cards.html team_name="Community" team_data=site.data.team_community %}
		</div>
	</section>
</div>
