---
layout: default
section: home
title: About the Team
description: Take a closer look at the people who make MyBB possible.
meta_description: Take a closer look at the people who make MyBB possible.
---

<aside id="sidebar">
	<section>
	<h1>All About MyBB</h1>
		{% include section_nav.html section='about' %}
	</section>
	<section class="alt">
		<h1>Joining the MyBB Team</h1>
		<p>Interested in joining the MyBB team? It all starts by getting involved with the community such as through development or support.</p>
		<p><a href="{{ site.url }}/get-involved/"><strong>Get Involved &rarr;</strong></a></p>
	</section>
</aside>

<div id="contentBlock">
	<section class="general">
		<p>The MyBB team is composed of volunteers committed to developing, supporting, and managing the MyBB forum software project. They have a single mission: to make the best forum software possible.</p>
		<p>All members have a <a href="{{ site.url }}/about/team/groups/">Team group</a> assigned, which indicates their main focus within the Project.</p>
		<p>All Team changes follow the <a href="{{ site.url }}/about/team/personnel-management/">Personnel management guide</a>.</p>
	</section>
	<section class="general">
		<header>
			<h1>The MyBB Team</h1>
		</header>
		<div class="team-cards">
			{% include team_cards.html team_name="Management" team_data=site.data.team_management %}
			{% include team_cards.html team_name="Support" team_data=site.data.team_support %}
			{% include team_cards.html team_name="Development" team_data=site.data.team_development %}
			{% include team_cards.html team_name="Quality Assurance" team_data=site.data.team_quality_assurance %}
			{% include team_cards.html team_name="Community" team_data=site.data.team_community %}
		</div>
	</section>
</div>
