---
layout: default
section: home
title: Team groups
description: While the MyBB team is divided into separate groups below, these groups represent only primary tasks. Each member of the MyBB team is charged with pushing the MyBB project forward in any way they see fit.
meta_description: Take a look what focus groups the MyBB Team consists of.
---

<aside class="page-sidebar">
	{% include section_nav.html section='about' parent='about/team' %}

	<section class="block">
		<h1 class="block__heading">Joining the MyBB Team</h1>
		<div class="block__container">
			<p>Interested in joining the MyBB team? It all starts by getting involved with the community such as through development or support.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/" class="button icon icon--after fa-arrow-right">Get Involved</a></p>
		</div>
	</section>
</aside>

<div class="page-content page-content--sidebar">
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">MyBB Team Groups</h1>
		</header>
		<div class="simple-table role role--management">
			<div class="simple-table__heading">
				{% include icon.html icon='briefcase' %}
				<p class="simple-table__heading__subtitle">MAN</p>
			</div>
			<div class="simple-table__content">
				<p>The <strong>Management</strong> group supervises personnel changes, internal cooperation, permissions, platforms and the package release process.</p>
			</div>
		</div>
		<div class="simple-table role role--support">
			<div class="simple-table__heading">
				{% include icon.html icon='question-circle' %}
				<p class="simple-table__heading__subtitle">SUP</p>
			</div>
			<div class="simple-table__content">
				<p>The <strong>Support</strong> group organizes and provides support for the MyBB core on the Community Forums and chat platforms.</p>
			</div>
		</div>
		<div class="simple-table role role--development">
			<div class="simple-table__heading">
				{% include icon.html icon='cogs' %}
				<p class="simple-table__heading__subtitle">DEV</p>
			</div>
			<div class="simple-table__content">
				<p>The <strong>Development</strong> group is formed by core contibutors to MyBB codebase and maintains the development discussion and suggestions.</p>
			</div>
		</div>
		<div class="simple-table role role--quality-assurance">
			<div class="simple-table__heading">
				{% include icon.html icon='flask' %}
				<p class="simple-table__heading__subtitle">SQA</p>
			</div>
			<div class="simple-table__content">
				<p>The <strong>Quality Assurance</strong> group is responsible for reviewing contributions to code repositories, testing packages and verifying submitted issues related to MyBB Project's software.</p>
			</div>
		</div>
		<div class="simple-table role role--community">
			<div class="simple-table__heading">
				{% include icon.html icon='users' %}
				<p class="simple-table__heading__subtitle">COM</p>
			</div>
			<div class="simple-table__content">
				<p>The <strong>Community</strong> group oversees the communication and cooperation in the MyBB Community and assures the correct flow of feedback between the Community and the Team. Its members handle external inquiries, form official statements and manage social media accounts.</p>
			</div>
		</div>
    </section>
</div>
