---
layout: default
section: home

title: "Discord"
description: "MyBB has an Discord channel located on the <a href=\"https://discordapp.com/\">Discord network</a>. This channel is a place where you can just chat with other enthusiastic MyBB users and Staff, to gain knowledge and exchange tips."
---

<aside class="page-sidebar">
   {% include section_nav.html section='get-involved' %}
</aside>

 <div class="page-content page-content--sidebar">
 	<section class="block">
 		<header class="block__heading">
 			<h1 class="block__heading__title">MyBB Discord Server</h1>
 		</header>
 		<p>MyBB Staff are seperated in the channel by a special username colour, and are probably around to talk to as well as other MyBB users.</p>
 		<p style="font-weight:bold;">You <span style="text-decoration: underline;">must not</span> disclose vulnerabilities in MyBB within the Discord Server. Instead, please see the <a href="{{ site.baseurl }}/get-involved/security/">Security Research</a> page for information on how to responsibly disclose vulnerabilities.</p>
 		<p>Please also see the <a href="{{ site.baseurl }}/get-involved/discord/rules/">MyBB Discord Server Rules</a> page which documents the etiquette that you must follow in the channel.</p>
        <p><a href="https://discordapp.com/invite/rX8VpBr" class="button button--big button--no-margin">{% include icon.html icon='discord' %} Join us on Discord</a></p>
 	</section>
 </div>
