---
layout: default
section: home

title: "Discord"
description: "MyBB has a public <a href=\"https://discordapp.com/\">Discord</a> server. This server is a place where you can just chat with other enthusiastic MyBB users and Staff, to gain knowledge and exchange tips."

redirect_from:
- /discord/
---

<aside class="page-sidebar">
   {% include section_nav.html section='get-involved' %}
</aside>

 <div class="page-content page-content--sidebar">
 	<section class="block">
 		<header class="block__heading">
 			<h2 class="block__heading__title">MyBB Discord Server</h2>
 		</header>
 		<p>MyBB Staff are seperated in the server by a special username color, and are probably around to talk to as well as other MyBB users.</p>
        <p><a href="https://discordapp.com/invite/rX8VpBr" class="button button--big button--no-margin">{% include icon.html icon='discord' %} Join us on Discord</a></p>
 	</section>
    <section class="block">
		<header class="block__heading">
			<h3 class="block__heading__title">Rules and Tips</h3>
		</header>
		<ul>
			<li>The <a href="{{ site.baseurl }}/about/conduct">Code of Conduct</a> is to be observed at all times,
			<li>support is not guaranteed here &mdash; for complex issues and better reach, create a thread in support sections on <a href="https://community.mybb.com">MyBB Community Forums</a>,
			<li>please only speak English within the server,
			<li>avoid posting long messages, or too many messages in a a row &mdash; <strong>use a paste bin</strong> (like <a href="https://paste.laravel.io/">paste.laravel.io</a>) instead to post code and error logs,
			<li>do not use Discord to report potential security issues &mdash; go to <a href="{{ site.baseurl }}/get-involved/security/"><strong>mybb.com/security</strong></a> instead and use <a href="https://community.mybb.com/forum-135.html">Private Inquiries</a>,
			<li>do not report confirmed bugs and problems &mdash; go to the <a href="https://community.mybb.com/forum-161.html"><strong>Bug Reports forum</strong></a> so that developers can investigate them,
			<li>if you spot abusive or problematic behavior, you can contact one of the MyBB Team members (orange usernames).
		</ul>
	</section>
 </div>
