---
layout: default
section: home
title: Get Involved
description: MyBB is an open source project that depends on the contributions of volunteers. Below, find out how you can contribute to the best forum software through development, resources, support, and security research.
---
<aside class="page-sidebar">
	{% include section_nav.html section='get-involved' %}

	<section class="block">
		<h1 class="block__heading">MyBB on GitHub</h1>
		<div class="block__container">
			<p>Through GitHub, you can follow development, download the latest source code to test and report issues, and contribute to the MyBB resources.</p>
			<p class="block__action"><a href="https://github.com/mybb" class="button">{% include icon.html icon='github' %}Visit MyBB on GitHub</a></p>
		</div>
	</section>

	<section class="block">
		<h1 class="block__heading">MyBB Discord Server</h1>
		<div class="block__container">
			<p>MyBB has its own Discord server where you can chat with other MyBB users and staff.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/discord/" class="button">{% include icon.html icon='discord' %}Join us on Discord</a></p>
		</div>
	</section>
</aside>

<div class="page-content page-content--sidebar">
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Development</h1>
			<p class="block__heading__subtitle">Test the latest source code and report issues</p>
		</header>
		<p>MyBB is under active, continuous development, both by members of the official Development Team and by members of the community. We use <a href="https://github.com/mybb">GitHub</a> to offer public access to our development allowing the community to contribute to the project. You can contribute by testing the latest source code, reporting issues, and forking the project to submit bug fixes or add new features.</p>
		<p class="block__action"><a href="{{ site.baseurl }}/get-involved/development/" class="link">{% include icon.html icon='code' %}<span class="link__text">More information on development &rarr;</span></a></p>
	</section>
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Resources</h1>
			<p class="block__heading__subtitle">Contribute to the official documentation or translations</p>
		</header>
		<p>The MyBB Community Team maintains the official <a href="https://docs.mybb.com">MyBB documentation</a> and manages third-party language translations. We use <a href="https://github.com/mybb">GitHub</a> to both manage the documentation and as a central repository for third-party translations. You can contribute by adding to or revising the documentation or by helping with or creating a third-party translation.</p>
		<p class="block__action"><a href="{{ site.baseurl }}/get-involved/resources/" class="link">{% include icon.html icon='book' %}<span class="link__text">More information on resources &rarr;</span></a></p>
	</section>
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Support</h1>
			<p class="block__heading__subtitle">Troubleshoot users' problems with MyBB</p>
		</header>
		<p>The MyBB Support Team is dedicated to helping users solve problems with their MyBB forums. Community members with extensive knowledge of MyBB and troubleshooting problems are encouraged to help out wherever they feel comfortable.</p>
		<p class="block__action"><a href="{{ site.baseurl }}/get-involved/support/" class="link">{% include icon.html icon='question-circle' %}<span class="link__text">More information on support &rarr;</span></a></p>
	</section>
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Security Research</h1>
			<p class="block__heading__subtitle">Help improve MyBB's security</p>
		</header>
		<p>The MyBB Team takes security very seriously and we investigate every report we recieve. Those with knowledge of web application security are encouraged to look for vulnerabilities and responsibly disclose them.</p>
		<p class="block__action"><a href="{{ site.baseurl }}/get-involved/security/">{% include icon.html icon='bug' %}<span class="link_text">More information on security research &rarr;</span></a></p>
	</section>
	<section class="block">
		<header class="block__heading">
			<h1 class="block__heading__title">Discord Channel</h1>
			<p class="block__heading__subtitle">Collaborate with other MyBB enthusiasts</p>
		</header>
		<p>The Discord channel is a place where you can just chat with other enthusiastic MyBB users and staff, to gain knowledge and exchange tips.</p>
		<p class="block__action"><a href="{{ site.baseurl }}/get-involved/security/">{% include icon.html icon='discord' %}<span class="link_text">More information on security research &rarr;</span></a></p>
	</section>
</div>
