---
layout: default
section: home
title: Get Involved
description: MyBB is an open source project that depends on the contributions of volunteers. Below, find out how you can contribute to the best forum software through development, resources, support, and security research.
---
<aside class="page-sidebar">
	{% include section_nav.html section='get-involved' %}

	<section class="block">
		<h1 class="block__heading">MyBB on GitHub</h1>
		<div class="block__container">
			<p>Through GitHub, you can follow development, download the latest source code to test and report issues, and contribute to the MyBB resources.</p>
			<p class="block__action"><a href="https://github.com/mybb" class="button">{% include icon.html icon='github' %}Visit MyBB on GitHub</a></p>
		</div>
	</section>
	<section class="block">
		<h2 class="block__heading">Community Forums</h2>
		<div class="block__container">
			<p>Join the Community Forums to discuss the development of MyBB, issues affecting the Project and Community activities.</p>
			<p class="block__action"><a href="https://community.mybb.com/" class="button button--secondary">{% include icon.html icon='comments' %}Visit Community Forums</a></p>
		</div>
	</section>
	<section class="block">
		<h1 class="block__heading">MyBB Discord Server</h1>
		<div class="block__container">
			<p>MyBB has its own Discord server where you can chat with other MyBB users and staff.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/discord/" class="button button--secondary">{% include icon.html icon='discord' %}Join us on Discord</a></p>
		</div>
	</section>
	<section class="block">
		<div class="block__container">
			<p>This project is intended to be a safe, welcoming space for collaboration, and contributors are expected to adhere to the <a href="{{ site.baseurl }}/about/conduct/">MyBB Code of Conduct</a>.</p>
		</div>
	</section>
	<section class="block">
		<h1 class="block__heading">Joining the MyBB Team</h1>
		<div class="block__container">
			<p>Reach us on the Community Forums to apply to the Team which designs and builds MyBB and manages the MyBB Project. Tell us about your (related) interests, experience, previous contributions to MyBB and/or other open-source software, available time and why you'd like to join.</p>
			<p class="block__action"><a href="https://community.mybb.com/forum-135.html" class="button button--secondary">{% include icon.html icon='comment' %}Open Private Inquiries</a></p>
		</div>
	</section>
</aside>

<div class="page-content page-content--sidebar">
	<section class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='rocket' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h1 class="block__heading__title">Features & Development</h1>
				<p class="block__heading__subtitle">Modify MyBB's source code, suggest features and report issues</p>
			</header>
			<p>Anyone is a potential MyBB developer. You can contribute by testing the latest source code, reporting issues, and forking the project to submit bug fixes or add new features.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/development/" class="link"><span class="link__text">How you can contribute to Features & Development &rarr;</span></a></p>
		</div>
	</section>
	<section class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='hands-helping' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h1 class="block__heading__title">Support</h1>
				<p class="block__heading__subtitle">Troubleshoot users' problems with MyBB</p>
			</header>
			<p>MyBB's Support Team and the Community are dedicated to helping users solve problems with their MyBB forums. If you are familiar with the software or enjoy troubleshooting, feel free to participate across our support channels.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/support/" class="link"><span class="link__text">Guidelines for providing support &rarr;</span></a></p>
		</div>
	</section>
	<section class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='book' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h1 class="block__heading__title">Web Resources</h1>
				<p class="block__heading__subtitle">Contribute to the Docs and the Project's website</p>
			</header>
			<p>The MyBB Team maintains the official <a href="https://docs.mybb.com/">MyBB Documentation</a> and the informational <a href="https://mybb.com/">MyBB.com</a> website. You can help improve these resources using our GitHub repositories.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/resources/" class="link"><span class="link__text">More information on Web Resources &rarr;</span></a></p>
		</div>
	</section>
	<section class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='shield-alt' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h1 class="block__heading__title">Security Research</h1>
				<p class="block__heading__subtitle">Help improve MyBB's security</p>
			</header>
			<p>The MyBB Team cooperates with security researchers on triage, resolution, analysis, and public disclosure of vulnerability information. If you're interested in web application security, have a look at our software to improve the safety of MyBB forums and earn recognition for successful findings.</p>
			<p class="block__action"><a href="{{ site.baseurl }}/get-involved/security/"><span class="link_text">More information on Security Research &rarr;</span></a></p>
		</div>
	</section>
	<section class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='cubes' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h1 class="block__heading__title">MyBB Extensions</h1>
				<p class="block__heading__subtitle">Contribute the Community by creating independent MyBB extensions</p>
			</header>
			<p>Create and share custom <a href="https://community.mybb.com/mods.php?action=browse&category=plugins">Plugins</a>, <a href="https://community.mybb.com/mods.php?action=browse&category=themes">Themes</a> or <a href="https://community.mybb.com/mods.php?action=browse&category=19">Translations</a>. Check <i>Plugin</i> and <i>Theme Development</i> articles in the <a href="https://docs.mybb.com/">MyBB Documentation</a> to get started.</p>
			<p class="block__action"><a href="https://community.mybb.com/mods.php" class="link"><span class="link__text">Extend MyBB &rarr;</span></a></p>
		</div>
	</section>
</div>
