---
layout: default
section: home

title: Web Resources
description: One of the primary goals of MyBB's <a href="!SITE_BASEURL!/about/team/">community team</a> is to maintain MyBB's <a href="https://docs.mybb.com">official documentation</a> and website. Through <a href="https://github.com/mybb">GitHub</a>, you can contribute to both the official documentation and the website.
meta_description: Get involved by helping maintain MyBB's official documentation or website.
---
<aside class="page-sidebar">
	{% include section_nav.html section='get-involved' %}

	<section class="block">
		<h1 class="block__heading">Resources on GitHub</h1>
		<nav class="sidebar__nav">
			<ul class="sidebar__nav__links">
				<li class="sidebar__nav__links__item"><a href="https://github.com/mybb/docs.mybb.com" class="sidebar__nav__links__item__link">Documentation on GitHub</a></li>
				<li class="sidebar__nav__links__item"><a href="https://github.com/mybb/mybb.com" class="sidebar__nav__links__item__link">Website on GitHub</a></li>
			</ul>
		</nav>
	</section>
</aside>

<div class="page-content page-content--sidebar">
	<section class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='book' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h1 class="block__heading__title">MyBB Documentation</h1>
				<p class="block__heading__subtitle">Contribute to the MyBB Documentation using GitHub</p>
			</header>
			<p>MyBB uses a GitHub repository to manage the official <a href="https://docs.mybb.com">MyBB Documentation</a>, allowing everyone to easily collaborate and contribute to it. To start, you just need to fork the <a href="https://github.com/mybb/docs.mybb.com">docs.mybb.com repository</a> and open a Pull Request after making changes and pushing them to your forked repository. Once the Pull Request is reviewed, your changes will be merged and applied on the web pages.</p>
			<p class="block__action"><a href="https://github.com/mybb/docs.mybb.com" class="link">{% include icon.html icon='github' %}<span class="link__text">MyBB Documentation on GitHub &rarr;</span></a></p>
		</div>
	</section>
	<section class="block block--symbol">
		<div class="block__icon">{% include icon.html icon='globe' %}</div>
		<div class="block__content">
			<header class="block__heading">
				<h1 class="block__heading__title">MyBB Website</h1>
				<p class="block__heading__subtitle">Contribute to the MyBB Website using GitHub</p>
			</header>
			<p>MyBB uses GitHub Pages to host the MyBB Website for free, allowing the MyBB Community and staff to maintain it. To contribute you just need to fork the <a href="https://github.com/mybb/mybb.com">mybb.com repository</a> and open a Pull Request after making changes and pushing them to your forked repository. Once the Pull Request is reviewed, your changes will be merged and applied on the website.</p>
			<p class="block__action"><a href="https://github.com/mybb/mybb.com" class="link">{% include icon.html icon='github' %}<span class="link__text">MyBB Website on GitHub &rarr;</span></a></p>
		</div>
	</section>
</div>
