{% include layout/header.html %}
    <div class="feature-tour">
        <div class="feature-tour__header">
            <div class="wrapper">
                <h1 class="feature-tour__header__title">Feature Tour</h1>
                <span class="feature-tour__menu-button">{% include icon.html icon='th-large' %} Show</span>
                <span class="feature-tour__menu-close-button feature-tour__menu-close-button--hide">{% include icon.html icon='times-circle' %} Close</span>
                <nav class="feature-tour__header__nav feature-tour__header__nav--mobile-hide">
                    <ul class="feature-tour__header__nav__links">
                        {% for item in site.data.features %}
                            {% assign item_url = item | prepend:"/features/" | append:"/" %}
                            {% assign p = site.features | where:"url", item_url | first %}
                          <li class="feature-tour__header__nav__links__item {% if item_url == page.url %} feature-tour__header__nav__links__item--active{% endif %}">
                              <a href="{{ site.baseurl }}{{ item_url }}" class="feature-tour__header__nav__links__item__link">{% include icon.html icon=p.icon %} {{ p.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <article class="main main--feature-tour">
            <header class="main-feature">
                <div class="wrapper">
                    <h1 class="main-feature__page-title">{{ page.title }}</h1>
                    <p class="main-feature__description">{{ page.meta_description }}</p>
                </div>
            </header>
            <div class="wrapper">
                <div class="page-content">
                    <section class="block block--markdown">
                        {{ content }}
                    </section>
                </div>
            </div>
        </article>
        {% for item in site.data.features %}
            {% assign item_url = item | prepend:"/features/" | append:"/" %}
                {% if item_url == page.url %}
                    <div class="feature-tour__next">
                        <div class="wrapper">
                            {% if forloop.last %}
                                <span class="feature-tour__next__text">Ready to get started?</span>
                                <a href="{{ site.baseurl }}/download" class="button button--medium feature-tour__next__link">{% include icon.html icon='download' %}Download MyBB</a>
                            {% else %}
                                {% assign next = forloop.index0 | plus: 1 %}
                                {% assign next_page = site.data.features[next] | prepend:"/features/" | append:"/" %}
                                {% assign next_p = site.features | where:"url", next_page | first %}
                                <span class="feature-tour__next__text">Up Next:</span>
                                <a href="{{ site.baseurl }}{{ next_page }}" class="button button--medium feature-tour__next__link"> {% include icon.html icon=next_p.icon %}{{ next_p.title }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% break %}
            {% endif %}
        {% endfor %}
        <div class="feature-tour__footer">
            <div class="wrapper">
                <h1 class="feature-tour__footer__title">Even More Features</h1>
                <div class="feature-tour__footer__list">
                    {% for item in site.data.features %}
                        {% assign item_url = item | prepend:"/features/" | append:"/" %}
                        {% assign p = site.features | where:"url", item_url | first %}
                      <div class="feature-tour__footer__list__item">
                          {% include icon.html icon=p.icon %}
                          <h2 class="feature-tour__footer__list__item__title"><a href="{{ site.baseurl }}{{ item_url }}" class="feature-tour__footer__list__item__link">{{ p.title }}</a></h2>
                          <p class="feature-tour__footer__list__item__description">{{ p.meta_description }}</p>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% include layout/footer.html %}
