{% include header.html %}

    	<article>
	    	<header id="mainFeature">
	    		<div class="wrapper">
					<h1>MyBB Feature Tour</h1>
					<p class="description">From administration to posting a reply, MyBB is full of useful and to-the-point features for both you and your visitors. Take a look at the tour below to explore some of its best capabilities.</p>
				</div>
			</header>
			<div class="wrapper">
				<aside id="sidebar">
					<section>
						<h1>Feature Tour</h1>
						<nav>
							<ul>
                                {% for item in site.data.features %}
                                    {% assign item_url = item | prepend:"/features/" | append:"/" %}
                                    {% assign p = site.features | where:"url", item_url | first %}
                                  <li {% if item_url == page.url %} class="selected"{% endif %}><a href="{{ site.url }}{{ item_url }}">{{ p.title }}</a></li>
                                {% endfor %}
							</ul>
						</nav>
					</section>
				</aside>

				<div id="contentBlock">
					<section class="general">
						<h1>{{ page.title }}</h1>
						{{ content }}
					</section>

                    {% for item in site.data.features %}
                        {% assign item_url = item | prepend:"/features/" | append:"/" %}
                            {% if item_url == page.url %}
                                <div class="tourNavigation">
                                    {% if forloop.last %}
                                    {% else %}
                                        {% assign next = forloop.index0 | plus: 1 %}
                                        {% assign next_page = site.data.features[next] | prepend:"/features/" | append:"/" %}
                                        {% assign next_p = site.features | where:"url", next_page | first %}
                                        <div class="nextFeature">
                                            <a href="{{ next_page }}" class="next">{{ next_p.title }} &rarr;</a>
                                        </div>
                                    {% endif %}
                                    {% if forloop.first %}
                                    {% else %}
                                    <div class="previousFeature">
                                        {% assign previous = forloop.index0 | minus: 1 %}
                                        {% assign previous_page = site.data.features[previous] | prepend:"/features/" | append:"/" %}
                                        {% assign prev_p = site.features | where:"url", previous_page | first %}
                                        <a href="{{ previous_page }}" class="prev">&larr; {{ prev_p.title }}</a>
                                    </div>
                                    {% endif %}
                                </div>
                            {% break %}
                        {% endif %}
                    {% endfor %}
				</div>
			</div>
		</article>

{% include footer.html %}
