{% include layout/header.html %}
<article class="main">
    <header class="main-feature">
        <div class="wrapper">
            <h1 class="main-feature__page-title">Release Signing Keys</h1>
            <p class="main-feature__description">Keys used for MyBB release packages verification.</p>
        </div>
    </header>
    <div class="wrapper">
    <aside class="page-sidebar">
        <div>
            <h3>Status</h3>
            <p>{{ page.status | capitalize }}</p>
        </div>
        <div>
            <h3>Username</h3>
            <p>{{ page.username }}</p>
        </div>
        <div>
            <h3>Fingerprint</h3>
            <p><span class="hextet">{{ page.fingerprint | replace: ' ', '</span><span class="hextet">' }}</span></p>
        </div>
        <div>
            <h3>Date added</h3>
            <p>{{ page.add_date | date_to_string }}</p>
            <p>
                {% for announcement in page.add_announcements %}
                    <a href="{{ announcement }}">[announcement]</a>
                {% endfor %}
            </p>
        </div>
        {% if page.remove_date %}
        <div>
            <h3>Date removed</h3>
            <p>{{ page.remove_date | date_to_string }}</p>
            <p>
                {% for announcement in page.remove_announcements %}
                    <a href="{{ announcement }}">[announcement]</a>
                {% endfor %}
            </p>
        </div>
        {% endif %}
        <div>
            <h3>Revocable by</h3>
                {% for revocable_by in page.revocable_by %}
                    <p><code>{{ revocable_by.fingerprint }}</code> ({{ revocable_by.name }})</p>
                {% endfor %}
        </div>
    </aside>
    <div class="page-content page-content--sidebar">
        <section class="block">
            <pre><code>{{ content }}</code></pre>
        </section>
    </div>
</article>
{% include layout/footer.html %}
