{% include layout/header.html %}

<article class="main main--rfc">
	<header class="main-feature">
		<div class="wrapper">
			<h1 class="main-feature__page-title">RFC Documents</h1>
			<p class="main-feature__description">Accepted MyBB RFC documents and the Request For Comments process.</p>
		</div>
	</header>
	<div class="wrapper">
		<aside class="page-sidebar">
			{% include section_nav.html section='about' parent='about/rfcs' %}
		</aside>

		<div class="page-content page-content--sidebar">
			<section class="block block--markdown">
				{{ content }}
			</section>
		</div>
	</div>
</article>

{% include layout/footer.html %}
