---
layout: default
---
{% if page.resolved_security_issues_number %}
    {% assign resolved_security_issues_number = page.resolved_security_issues_number %}
{% else %}
    {% assign resolved_security_issues_number = page.resolved_security_issues | size %}
{% endif %}

{% if page.type_major %}
    {% assign typesAppended = 'Major' %}
{% else %}
    {% assign typesAppended = '' %}

    {% if page.type_feature == true or page.type contains 'feature' %}
        {% assign typesAppended = typesAppended | append: ' Feature' %}
    {% endif %}
    {% if page.resolved_security_issues or page.resolved_security_issues_number or page.type contains 'security' %}
        {% if page.type_security != false or page.type_security == true %}
            {% assign typesAppended = typesAppended | append: ' Security' %}
        {% endif %}
    {% endif %}
    {% if page.resolved_issues_number or page.type contains 'maintenance' %}
        {% if page.type_maintenance != false or page.type_maintenance == true %}
            {% assign typesAppended = typesAppended | append: ' Maintenance' %}
        {% endif %}
    {% endif %}
{% endif %}
{% assign typesAppended = typesAppended | strip %}
{% assign typesString = typesAppended | replace: ' ', ', ' %}
{% assign typesHtml = typesAppended | replace: ' ', '</span><span>' %}
{% assign typesHtml = '<span>' | append: typesHtml | append: '</span>' %}


<div class="releaseNotes">

<div class="releaseNotes__title">
    <p class="releaseNotes__title__package">MyBB {{ page.version_number }}</p>
    {% if page.release_date %}
        <p class="releaseNotes__title__time">(<time>{{ page.release_date | date: '%d %B %Y' }}</time>)</p>
    {% endif %}
</div>
<div class="releaseNotes__details">
    {% if page.version_code %}
        <p class="releaseNotes__details__code">code {{ page.version_code }}</p>
    {% endif %}
    {% if typesAppended.size != 0 %}
        <p class="releaseNotes__details__types">{{ typesHtml }}</p>
    {% endif %}
</div>

{% if page.packages %}
    <div class="downloadPackages">
        {% for package in page.packages %}
            {% for type_data in site.data.packaging.types %}
                {% if type_data.name == package.type %}
                    {% assign type_data = type_data %}
                    {% break %}
                {% endif %}
            {% endfor %}

            <div class="downloadPackages__package downloadPackages__package--{{ type_data.name }}">
                <p class="downloadPackages__package__title"><i class="fa fa-fw {{ type_data.icon }}"></i> {{ type_data.title }}</p>
                <p class="downloadPackages__package__description">{{ type_data.description }}</p>
                {% for format in package.formats %}
                    <div class="downloadPackages__format downloadPackages__format--{{ format.type }}">
                        <p class="downloadPackages__format__title">
                            <span class="downloadPackages__format__type">.{{ format.type }}</span>
                        {% if format.filesize %}
                            <span class="downloadPackages__format__size">&mdash; {{ format.filesize }}</span>
                        {% endif %}
                        </p>

                        {% for location in format.locations %}
                            {% for location_data in site.data.packaging.locations %}
                                {% if location_data.name == location.name %}
                                    {% assign location_data = location_data %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}

                            {% assign url = location_data.url | replace: '{TYPE}', type_data.name | replace: '{VERSION_CODE}', page.version_code | replace: '{FORMAT}', format.type %}

                            <a href="{{ url }}" class="downloadPackages__location downloadPackages__location--{{ location_data.name }}">
                                <p class="downloadPackages__location__name"><i class="fa fa-fw fa-cloud-download"></i> Download from <strong>{{ location_data.title }}</strong></p>
                            </a>
                        {% endfor %}

                        {% if format.checksums %}
                        <div class="downloadPackages__checksums">
                            {% for checksum in format.checksums %}
                                <div class="downloadPackages__checksums_checksum">
                                    <p class="downloadPackages__checksums__type">{{ checksum.type }}:</p>
                                    <p class="downloadPackages__checksums__value">{{ checksum.value }}</code>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <p class="packagesVerifyingNote">
        <a href="{{ site.url }}/download/verifying/">How to verify packages &rarr;</a>
    </p>
{% endif %}

{% if page.upgrade_script_required %}
    <div class="note note--upgradeScriptRequired">
        <i class="fa fa-fw fa-cogs"></i>
        <p>Running the <strong>upgrade script</strong> is required.</p>
    </div>
{% else %}
    <div class="note">
        <i class="fa fa-fw fa-cogs"></i>
        <p>This release does <strong>not</strong> need running the upgrade script.</p>
    </div>
{% endif %}

{% if page.version_number contains '1.8.' %}
<div class="note">
    <i class="fa fa-fw fa-arrow-up"></i>
    <p>Before performing any upgrade please remember to backup your forum’s files and database and store them safely. If you have edited core files, including language files, please make sure you make a changelog for these changes so you can make them again (if necessary) once the upgrade is complete.</p>
    <p>Follow the <a href="https://docs.mybb.com/1.8/install/upgrade/">Upgrade Documentation</a> for more detailed instructions.</p>
</div>
{% endif %}

{% if page.comment %}
    <div class="note note--comment">
        <i class="fa fa-fw fa-quote-left"></i>
        {{ page.comment | markdownify }}
    </div>
{% endif %}

<br>

{% if resolved_security_issues_number %}
    <h2>Security vulnerabilities addressed ({{ resolved_security_issues_number }})</h2>
    {% if page.resolved_security_issues %}
        <table class="standard_table">
            <thead>
                <tr>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Reported by</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in page.resolved_security_issues %}
                    <tr>
                        <td>{{ issue.severity | capitalize }} risk</td>
                        <td>{{ issue.description }}</td>
                        <td>
                            {% if issue.reported_by.name %}
                                {% assign reported_by = '<i>' | append: (issue.reported_by.name | markdownify | replace: '<p>', '' | replace: '</p>
', '') %}
                                {% if issue.reported_by.affiliation %}
                                    {% assign reported_by = reported_by | append: '<i>' | append: '<br><small>' | append: (issue.reported_by.affiliation | markdownify | replace: '<p>', '' | replace: '</p>
', '') | append: '</small>' %}
                                {% endif %}
                                {{ reported_by }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>
{% endif %}

{% if page.resolved_issues_number %}
    <h2>Issues resolved ({{ page.resolved_issues_number }})</h2>
    {% if page.resolved_issues_link %}
        <a href="{{ page.resolved_issues_link }}"><strong>{{ page.resolved_issues_link }}</strong></a>
    {% endif %}
    {% if page.resolved_issues %}
        <ul>
            {% for issue in page.resolved_issues %}
                <li>{{ issue.description | markdownify }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <br>
{% endif %}


{% if page.changed_templates or page.changed_files %}
<h2>Update Details</h2>
{% endif %}

{% if page.changed_files_list %}
    <h3>Changed Files ({{ page.changed_files_list | size }})</h3>
    <code>{{ page.changed_files_list | join: '<br>' }}</code>
    <br>
    <br>
{% elsif page.changed_files %}
    {% if page.changed_files.first %}
        {% capture list_output %}
            {% include recursive_list.html list = page.changed_files parent_suffix = '/' %}
        {% endcapture %}
        <h3>Changed Files ({{ recursive_count }})</h3>
        <small>
            {{ list_output }}
        </small>
        {% assign recursive_count = 0 %}
    {% else %}
        <h3>Changed Files</h3>
        <small>
            {{ page.changed_files | markdownify }}
        </small>
    {% endif %}
    <br>
{% endif %}

{% if page.removed_files_list %}
    <h3>Removed Files ({{ page.removed_files_list | size }})</h3>
    <code>{{ page.removed_files_list | join: '<br>' }}</code>
    <br>
    <br>
{% elsif page.removed_files %}
    {% if page.removed_files.first %}
        {% capture list_output %}
            {% include recursive_list.html list = page.removed_files parent_suffix = '/' %}
        {% endcapture %}
        <h3>Removed Files ({{ recursive_count }})</h3>
        <small>
            {{ list_output }}
        </small>
        {% assign recursive_count = 0 %}
    {% else %}
        <h3>Removed Files</h3>
        <small>
            {{ page.removed_files | markdownify }}
        </small>
    {% endif %}
    <br>
{% endif %}

{% if page.changed_language_files_number %}
    <h3>Changed Language Files ({{ page.changed_language_files_number }})</h3>
    There are changes to <strong>{{ page.changed_language_files_number }}</strong> language file(s). Changed languages files can be cross-referenced from the list above.
    <br>
    <br>
{% endif %}

{% if page.changed_templates %}
    <h3>Changed Templates ({{ page.changed_templates | size }})</h3>
    <ul>
        {% for name in page.changed_templates %}
            <li><code>{{ name }}</code></li>
        {% endfor %}
    </ul>
    <br>
{% endif %}

{% assign contentStripped = page.content | strip %}

</div>

{% if contentStripped != '' %}
    <hr>
    {{ page.content }}
{% endif %}
